@use '@styles/breakpoints' as *;
@use '@styles/vars' as *;



.reviewsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.reviewsSectionHeader {
 margin-bottom: 30px;
}

.reviewsSectionTitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-xxxl;
  color: $color-text;
  text-align: center;
}

.reviewsSectionText {
  font-weight: $font-weight-regular;
  font-size: $font-size-sm;
  color: $color-text-secondary;
  text-align: center;
}
.reviewsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

   @include respond(tablet) {
    grid-template-columns: repeat(2, 1fr); 
  }

  @include respond(desktop) {
    grid-template-columns: repeat(3, 1fr); 
  }
  
}