@use '@styles/vars' as *;

.reviewCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: $color-card-review;
  border-radius: 10px;
  box-shadow: $border-card-review;
}
.reviewCardImage{
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reviewCardTitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  color: $color-text;
  text-align: center;
}

.reviewCardText {
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
  color: $color-text-secondary;
  text-align: center;
}