// colors
$color-primary: #59b17a;
$color-primary-hover: #388e3c;
$color-secondary: #59B17A 10%;
$color-text: #1D1E21;
$color-text-title: #1d1d1f;
$color-text-secondary: #93939A;
$color-bg: #F7F8FA;
$color-white: #fff;
$color-white-button: #F1F1F1;
$color-card: #E7F1ED;
$color-card-review: #FDFDFD;
$color-card-status: #cce7d6;
$color-card-status-close: #E850501A;
$color-card-status-text: #E85050;


// background-color
$bg-color: rgba(89, 177, 122, 0.1);


//border
$border-card: 1px solid rgba(241, 241, 241, 1);
$border-card-review: 1px solid rgba(253, 253, 253, 1);
$border-button-logout: 1px solid rgba(89, 177, 122, 0.5);
$border-social: 1px solid rgba(247, 248, 250, 0.1);
$border-social-hover: 2px solid rgba(247, 248, 250, 0.5);

// Font
$font-main: 'Inter', sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 28px;

// Sizes
$container-width: 1440px;
$padding-page: 16px;

// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;