
.saleSector {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-bottom: 2rem;
}

.bannerCard {
    display: grid;
  grid-template-areas:
    "circle title"
    "rate text";
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: start;
  gap: 8px 34px;
  padding: 16px;
  border-radius: 27px;
  background-color: $color-white;
  box-shadow: $border-social;
  
}
.circle {
  grid-area: circle;
  background-color: #E7F1ED;
  color: #27ae60;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xxl;
  font-weight: $font-weight-medium;
}

.title {
  grid-area: title;
  font-size: $font-size-md;
  font-weight:$font-weight-medium;
  color: $color-text-title;
}

.rate {
  grid-area: rate;
  font-size: $font-size-xxl;
  font-weight: $font-weight-medium;
  color: $color-text;
}

.text {
  grid-area: text;
  font-size: $font-size-xs;
  color: $color-text-secondary;
}