@use '@styles/mixins' as *;
@use '@styles/vars' as *;

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.linkNavBar {
  @include base-link;
  border: $border-cart;
  border-radius: 60px;
  padding: 12px 24px;
  font-weight:$font-weight-regular;
  color: $color-text-secondary;
  background-color: $color-white;
  &:hover {
    transform: scale(1.1);
    color: $color-primary;
    background-color: color-primary-hover;
  }
}
.navBarFooter {
  display: flex;
  align-items: center;
  gap: 30px;
}
.linkNavBarFooter{
 @include base-link;
  font-weight:$font-weight-bold;
  color: $color-bg;
  &:hover {
    transform: scale(1.1);
    color: $color-primary-hover;
  }
}

.navBarMobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.linkNavBarMobile {
  @include base-link;
  border: $border-cart;
  border-radius: 60px;
  padding: 12px 24px;
  font-weight:$font-weight-regular;
  color: $color-text-secondary;
  background-color: $color-white;
  &:hover {
    transform: scale(1.1);
    color: $color-white;
background-color:$color-primary-hover;
}
}