@use '@/styles/vars' as *;

.logoutButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: $border-button-logout;
	border-radius: 60px;
	padding: 12px 24px;
	font-weight: $font-weight-regular;
	font-size: $font-size-sm;
	line-height: 100%;
	color: $color-primary;

	&:hover {
		background-color:$color-secondary;
		color:$color-primary-hover;
		transform: scale(1.1);
	}
}